* {
  margin:0px 0px 0px -50px;
  padding:1px 50px;
}
body {
  background-image: url("https://i.pinimg.com/originals/5b/7e/41/5b7e4174c82db26e5beedad2e6f3407d.jpg");
  background-size: cover;
  margin: 50px 70px;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  color: rgb(51, 102, 0);
  font-size: 40px;
  margin: 90px auto 20px 70px;
  padding: 10px 10px;
  text-align: center;
  border-bottom: 2px solid rgb(51, 102, 0);
}

h2 {
  font-family: 'Bookman';
  color: rgb(51, 51, 0);
  margin: 70 auto;
  padding: 10px 10px;
}

p {
  font-family: 'Bookman';
  color: rgb(51, 51, 0);
  font-size: 18px;
  margin-left: 70px;
  padding: 5px;
}

.pealkiri{
  text-align: center;
  text-indent: 5px;
  font-family: 'Bookman';
  color: rgb(51, 51, 0);
  margin: 10px auto;
  padding: 5px;
}

.kujundus1_pk {
  border: 2px solid rgb(51, 51, 0);
  border-radius: 4px;
  text-align: center;
  margin: 70px auto 20px 70px;
  padding: 10px 10px;
}

.kujundus2_pk{
  border: 2px solid rgb(51, 51, 0);
  border-radius: 4px;
  text-align: center;
  width: 200px;
  margin: 70px auto 20px 70px;
  padding: 10px 10px;
}

.kirjeldus{
  border: 2px dotted rgb(51, 51, 0);
  border-radius: 4px;
  text-align: center;
  margin: 0px auto 20px 70px;
  padding: 10px 10px;
}

.keskjoondus{
  text-align: center;
}

.kiri{
  font-size: 22px;
  margin-top: 0px;
  height: 50px;
  padding-left: 50px;
  padding-top: 20px;
  background-color:#FAF0E6;
}



header li{
  display: inline;
  padding: 0 20px 0 20px;
  font-size: 20px;
}
nav a:hover{
  font-weight: bold;
}
header a{
  border: 2px solid rgb(51, 51, 0);
  border-radius: 4px;
  width: 200px;
  margin: 70px auto 20px 70px;
  padding: 10px;
  text-decoration: none;
  color: rgb(51, 102, 0);
}
.easteregg a{
  text-align: center;
  text-decoration: none;
  color: #000000;
}
.tabel{
  border: 2px solid rgb(51, 51, 0);
  border-radius: 4px;
  text-align: center;
  width: 200px;
  margin: 70px auto 20px 70px;
  padding: 10px 10px;
}
.mmtestidepit img{
  width: 700px;
}
.mmajakavapilt img{
  width: 600px;
}
.general_padding{
  margin-left: 30px;
}
.mmpilt{
  margin-left: 100px;
}
.mmtabel{
  margin-left: 160px;
}
.kujundus2_pk_mm{
  border: 2px solid rgb(51, 51, 0);
  border-radius: 4px;
  text-align: center;
  width: 200px;
  margin: 70px auto 20px 70px;
  margin-left: 150px;
  padding: 10px 10px;
}
.kmpilt{
  margin-left: 20px;
}
nav a{
  border: 2px solid rgb(51, 51, 0);
  border-radius: 4px;
  width: 200px;
  margin: 200px auto 20px 70px;
  padding: 10px;
  text-decoration: none;
  color: rgb(51, 102, 0);
}
